
set_io extbus_sysclk 35
set_frequency extbus_sysclk 25.0

set_io extbus_cs_n 41
set_io extbus_phi2 37
set_io extbus_rw 40
set_io extbus_a[0] 36
set_io extbus_a[1] 43
set_io extbus_a[2] 38
set_io extbus_a[3] 42
set_io extbus_a[4] 39
set_io extbus_d[0] 23
set_io extbus_d[1] 25
set_io extbus_d[2] 26
set_io extbus_d[3] 27
set_io extbus_d[4] 28
set_io extbus_d[5] 31
set_io extbus_d[6] 32
set_io extbus_d[7] 34
set_io extbus_irq_n 3
set_io vga_r[0] 6
set_io vga_r[1] 9
set_io vga_r[2] 10
set_io vga_r[3] 11
set_io vga_g[0] 12
set_io vga_g[1] 21
set_io vga_g[2] 13
set_io vga_g[3] 20
set_io vga_b[0] 46
set_io vga_b[1] 47
set_io vga_b[2] 44
set_io vga_b[3] 48
set_io vga_hsync 18
set_io vga_vsync 19
set_io spi_sck 15
set_io spi_mosi 17
set_io spi_miso 14
set_io spi_ssel_n_sd 16
set_io audio_lrck 45
set_io audio_bck 2
set_io audio_data 4
